
@{
    ViewData["Title"] = "Registro de Cargas Iniciales";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Reportes</li>
    <li>Workflow</li>
    <li class="active">@ViewData["Title"]</li>
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="table-responsive">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Folio Crédito</th>
                        <th>Rut Afiliado</th>
                        <th>Codigo Oficina Ingreso</th>
                        <th>Codigo Oficina Pago</th>
                        <th>Línea Crédito</th>
                        <th>Rut Responsable</th>
                        <th>Canal Venta</th>
                        <th>Estado</th>
                        <th>Fecha Vigencia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itm in ViewBag.CargasIniciales)
                    {
                        <tr>
                            <td>@itm.FolioCredito</td>
                            <td>@itm.RutAfiliado</td>
                            <td>@itm.CodigoOficinaIngreso</td>
                            <td>@itm.CodigoOficinaPago</td>
                            <td>@itm.LineaCredito</td>
                            <td>@itm.RutResponsable</td>
                            <td>@itm.CanalVenta</td>
                            <td>@itm.Estado</td>
                            <td>@itm.FechaVigencia</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>