@{
    ViewData["Title"] = "Reporte de Gestión";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Reporte de Gestión</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{
    <!--Page Script-->
    <environment include="Development">
        <script src="~/js/reportegestion.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/reportegestion.min.js?g=@Guid.NewGuid().ToString()"></script>
    </environment>

}

<form id="frm-generico">

    <div class="row">
        <div class="col-sm-2 mar-top">
            <div class="form-group">
                <label class="control-label">Fecha Desde</label>
                <div id="dp-component">
                    <div class="input-group date">
                        <input type="text" class="form-control" id="dp_dia_desde" readonly>
                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-2 mar-top">
            <div class="form-group">
                <label class="control-label">Fecha Hasta</label>
                <div id="dp-component">
                    <div class="input-group date">
                        <input type="text" class="form-control" id="dp_dia_hasta" readonly>
                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-2 mar-top">
            <button type="button" id="btn_crear_reporte" class="btn btn-primary submit-generico">Crear Reporte</button>
        </div>
    </div>
   
    <div class="row">
        <table id="tabla-generica"
               data-toggle="table"
               data-url="/api/wf/v1/workflow/Lista-Registros-Reportes"
               data-search="false"
               data-show-refresh="false"
               data-show-toggle="false"
               data-show-columns="false"
               data-sort-name="Id"
               data-page-list="[]"
               data-page-size="20"
               data-side-pagination="server"
               data-pagination="true" data-show-pagination-switch="false">
            <thead>
                <tr>
                    <th data-field="Id">ID</th>
                    @*<th data-field="FechaInicio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Inicial</th>
                        <th data-field="FechaFinal" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Final</th>
                        <th data-field="FechaEjecucion" data-align="center" data-sortable="false" data-formatter="formatoFecha">Fecha Ejecucion</th>*@
                    <th data-field="RutUsuario">Rut Usuario</th>
                    <th data-field="Estado">Estado</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
                <table id="table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha Inicial</th>
                            <th>Fecha Final</th>
                            <th>Fecha Ejecucion</th>
                            <th>Rut Usuario</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itm in ViewBag.reporte)
                        {
                        <tr>
                            <td>@itm.Id</td>
                            <td>@itm.FechaInicio</td>
                            <td>@itm.FechaFinal</td>
                            <td>@itm.FechaEjecucion</td>
                            <td>@itm.RutUsuario</td>
                            <td>@itm.Estado</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>